<header>
  <hgroup>
    <h1>EventMachine RubyConf</h1>
    <h2>During RailsConf</h2>
    <h3>In Baltimore, MD</h3>
    <h4>On May 19, 2011</h4>
  </hgroup>
</header>

<article>
  <section id="speakers">
    <h1>Speakers</h1>

    <p>
      Talks are 15 minutes each and run from <time>12:30</time> to <time>3:00pm</time>
    </p>

    <ul>
      <li>
        <h2>Lessons in Concurrency: Threading vs Evented</h2>
        <h3>?</h3>
      </li>
      <li>
        <h2>JRuby Concurrency</h2>
        <h3>Nick Seiger</h3>
      </li>
      <li>
        <h2>Rubinius Concurrency</h2>
        <h3>Brian Ford</h3>
      </li>
      <li>
        <h2>What are fibers? How to use them</h2>
        <h3>Kirk Haines?</h3>
      </li>
      <li>
        <h2>Basics of EventMachine</h2>
        <h3>Aman?</h3>
      </li>
      <li>
        <h2>State of the Gems: What's EM aware and what's not?</h2>
        <h3>?</h3>
      </li>
      <li>
        <h2>Using EventMachine in Rack, Sinatra and Rails</h2>
        <h3>?</h3>
      </li>
      <li>
        <h2>What is EM-Synchrony and Sinatra-Synchrony?</h2>
        <h3>Kyle Drake?</h3>
      </li>
      <li>
        <h2>Deploy EM Web Apps in Production</h2>
        <h3>Ilya?</h3>
      </li>
    </ul>
  </section>
</article>

<footer>

</footer>
